@media (max-width: 1200px) {
  .sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
  
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
  } 
  
  .sidebar-link{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
  }
  
  .sidebar-link:hover{
    background-color: rgb(235, 235, 235);
    border-radius: 4px;
  }
  
  .sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
  }
  
  .sidebar-link div{
    font-size: 10px;
  }

  .webseite {
    background-color: lightblue;
    border-radius: 8px;
  }

  .webseite a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.vitas-anim{
    animation: myAni 30s ease 0s 5 normal forwards;
  }

  @keyframes myAni {
    0%,
    100% {
      transform: rotate(0deg);
      transform-origin: 50% 50%;
    }
  
    10% {
      transform: rotate(8deg);
    }
  
    20%,
    40%,
    60% {
      transform: rotate(-10deg);
    }
  
    30%,
    50%,
    70% {
      transform: rotate(10deg);
    }
  
    80% {
      transform: rotate(-8deg);
    }
  
    90% {
      transform: rotate(8deg);
    }
  }

  .web-anim{
    animation: myAn 15s ease 0s 1 normal forwards;
  }

  @keyframes myAn {
    0% {
      animation-timing-function: ease-in;
      opacity: 1;
      transform: translateX(-48px);
    }
  
    24% {
      opacity: 1;
    }
  
    40% {
      animation-timing-function: ease-in;
      transform: translateX(-26px);
    }
  
    65% {
      animation-timing-function: ease-in;
      transform: translateX(-13px);
    }
  
    82% {
      animation-timing-function: ease-in;
      transform: translateX(-6.5px);
    }
  
    93% {
      animation-timing-function: ease-in;
      transform: translateX(-4px);
    }
  
    25%,
    55%,
    75%,
    87%,
    98% {
      animation-timing-function: ease-out;
      transform: translateX(0px);
    }
  
    100% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: translateX(0px);
    }
  }

@media (min-width: 1200.1px) {
  .sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
  
    background-color: white;
    width: 200px;
    z-index: 200;
    padding-top: 13px;
  } 
  
  .sidebar-link{
    display: flex;
    align-items: center;
    padding: 8px 24px;
    cursor: pointer;
    transition: background-color 0.3s,
    opacity 0.3s;
  }
  
  .sidebar-link:hover{
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
  }

  .sidebar-link:active{
    opacity: 0.3;
  }
  
  .sidebar-link img{
    height: 24px;
    margin-right: 24px;
  }
  
  .sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 14px;
  }

  .webseite {
    background-color: lightblue;
    border-radius: 8px;
  }

  .vitas-anim{
    animation: myAni 30s ease 0s 5 normal forwards;
  }

  @keyframes myAni {
    0%,
    100% {
      transform: rotate(0deg);
      transform-origin: 50% 50%;
    }
  
    10% {
      transform: rotate(8deg);
    }
  
    20%,
    40%,
    60% {
      transform: rotate(-10deg);
    }
  
    30%,
    50%,
    70% {
      transform: rotate(10deg);
    }
  
    80% {
      transform: rotate(-8deg);
    }
  
    90% {
      transform: rotate(8deg);
    }
  }

  .web-anim{
    animation: myAn 15s ease 0s 1 normal forwards;
  }

  @keyframes myAn {
    0% {
      animation-timing-function: ease-in;
      opacity: 1;
      transform: translateX(-48px);
    }
  
    24% {
      opacity: 1;
    }
  
    40% {
      animation-timing-function: ease-in;
      transform: translateX(-26px);
    }
  
    65% {
      animation-timing-function: ease-in;
      transform: translateX(-13px);
    }
  
    82% {
      animation-timing-function: ease-in;
      transform: translateX(-6.5px);
    }
  
    93% {
      animation-timing-function: ease-in;
      transform: translateX(-4px);
    }
  
    25%,
    55%,
    75%,
    87%,
    98% {
      animation-timing-function: ease-out;
      transform: translateX(0px);
    }
  
    100% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .webseite a{
    display: flex;
    align-items: center;
  }
}
